@use 'variaveis';

.about {
    padding: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    

    img {
        max-width: 100%;
        border-radius: 10px;

        @media (max-width:768px) {
            padding-bottom: 16px;
        }
    }

    @media (max-width:768px) {
        display: block;
        padding: 16px;
    }
    
    &__content {
        padding: 0 2vw;

        h2 {
            text-align: center;
            margin-bottom: 24px;
        }

        p {
            padding-bottom: 12px;
        }
    }


}