@use 'variaveis';

.filmes {
    padding: 2vw 5.6vw;
    margin-bottom: 76px;

    &__list {
        display: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
        margin-top: 44px;
        list-style: none;
        
        &--is-active {
            display: grid;
            
            @media (max-width: variaveis.$mobile) {
                display: block;
                padding: 16px;
            }

            @media (max-width: variaveis.$tablet) {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
            }
        }


        &__item {
            display: flex;
            justify-content: center;
            background-color: variaveis.$corDeFundoBotaoDark;
            height: 420px;
            width: 310px;
            position: relative;
            transition: 0.5s;
            border-radius: 10px;
            

            @media (max-width: variaveis.$tablet) {
                height: 700px;
                max-width: 90%;
                margin: 12px auto;

                &__item h2, p{
                    padding: 8px 24px;
                }
            }

            img {
                height: 420px;
                width: 310px;
                max-width: 100%;
                border-radius: 4px;
                transition: 0.5s;
                position: absolute;

                @media (max-width: variaveis.$tablet) {
                    top: -90px;
                    scale: 0.70;
                }
            }

            &__content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                text-align: center;
                transition: 0.5s;
                margin-top: 280px;
                overflow: hidden;

                p {
                    text-align: justify;
                }
            }
        }
        
        @media (min-width: variaveis.$tablet){
            &__item:hover {
                height: 700px;
                }

            &__item:hover img{
                top: -90px;
                scale: 0.70;
            }
            
            &__item:hover h2, p{
                padding: 8px 24px;
            }
        }
    }

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;
            border-bottom: 5px solid transparent;
            
            @media (max-width: variaveis.$mobile){
                font-size: 16px;
            }

            &--is-active {
                border-bottom: 5px solid variaveis.$corTextoSecundario;
            }
        }
    }
}
